
	
	
	
	
	
		<!-- start: Footer -->
		<div id="footer" style="display:none;">
			
			<!-- start: Container -->
			<div class="container">
				
				<!-- start: Row -->
				<div class="row">
	
					<!-- start: About -->
					<div class="span3">
						
						<h3>OnlineSoapTest</h3>
	
					<!--	<p>
							<i class="mini-ico-map-marker mini-white"></i> 
						</p>
						<p>	
							<i class="mini-ico-map-marker mini-white"></i>
						</p>	
						<p>	
							<i class="ico-z-iphone"></i> Phone:
						</p>
						<p>
							<i class="mini-ico-envelope mini-white"></i> Email: 
						</p> -->
						<p>
							<i class="mini-ico-globe mini-white"></i> Web: <a href="http://lefkon.net">Lefkon</a>
						</p>
							
					</div>
					<!-- end: About -->
	
					<!-- start: Like Us -->
					<div class="span3">
						
						<h3>Like Us</h3>
						
						<ul id="twitter">
							
						</ul>
	
						<div class="clear"></div>
						
						
					</div>
					<!-- end: Latest Tweets -->
	
					<!-- start: Photo Stream -->
					<div class="span3">
						
						<h3>Photo Stream</h3>

						<div class="flickr-widget">
						
							<div class="flickr_badge_image">
								<a href="/photos/supersoap">
									<img width="75" height="75" title="Rusty" alt="A photo" src="/bundles/onlinesoaptest/images/soap/supersoap.jpg">
								</a>
							</div>
							
							<div class="flickr_badge_image">
								<a href="/photos/structure.gif/" + encodeURIComponent("http://itknowledgeexchange.techtarget.com/qa-processes/page/3/") target="_blank">
									<img width="75" height="75" title="A photo of soap structure" alt="A photo" src="/bundles/onlinesoaptest/images/soap/structure.gif">
								</a>
							</div>
							
							<div class="flickr_badge_image">
								<a href="/bundles/onlinesoaptest/images/soap/flow.gif">
									<img width="75" height="75" title="A photo of soap flow" alt="A photo" src="/bundles/onlinesoaptest/images/soap/flow.gif">
								</a>
							</div>
							
							
							<div class="flickr_badge_image">
								<a href="/bundles/onlinesoaptest/images/soap/layers.gif">
									<img width="75" height="75" title="Layers" alt="A photo of soap layers" src="/bundles/onlinesoaptest/images/soap/layers.gif">
								</a>			
							</div>
							
							<div id="flickr_badge_image5" class="flickr_badge_image"><a href="http://www.flickr.com/photos/29609591@N08/8637527812/"><img width="75" height="75" title="Beech Tree Strathmore" alt="A photo on Flickr" src="http://farm9.staticflickr.com/8542/8637527812_326926a060_s.jpg"></a></div><div id="flickr_badge_image6" class="flickr_badge_image"><a href="http://www.flickr.com/photos/29609591@N08/8627629925/"><img width="75" height="75" title="Fowlis" alt="A photo on Flickr" src="http://farm9.staticflickr.com/8521/8627629925_0781c1fc87_s.jpg"></a></div><div id="flickr_badge_image7" class="flickr_badge_image"><a href="http://www.flickr.com/photos/29609591@N08/8207432285/"><img width="75" height="75" title="Skotland" alt="A photo on Flickr" src="http://farm9.staticflickr.com/8203/8207432285_b85b135b3e_s.jpg"></a></div><div id="flickr_badge_image8" class="flickr_badge_image"><a href="http://www.flickr.com/photos/29609591@N08/8188704520/"><img width="75" height="75" title="Elgol From Tokavaig" alt="A photo on Flickr" src="http://farm9.staticflickr.com/8478/8188704520_8d7b0a9536_s.jpg"></a></div><div id="flickr_badge_image9" class="flickr_badge_image"><a href="http://www.flickr.com/photos/29609591@N08/8182862834/"><img width="75" height="75" title="Buachaille Etive Mhor" alt="A photo on Flickr" src="http://farm9.staticflickr.com/8200/8182862834_45647ace5d_s.jpg"></a></div><span class="flickr_badge_beacon" style="position:absolute;left:-999em;top:-999em;visibility:hidden"><img width="0" height="0" alt="" src="http://geo.yahoo.com/p?s=792600102&amp;t=d4ae8115c12a6e4df3d002fa37e84a7f&amp;r=http%3A%2F%2Fonlinesoaptest%2F&amp;fl_ev=0&amp;lang=en&amp;intl=us"></span>
							<div class="clear"></div>
							

						</div>
						
					</div>
					<!-- end: Photo Stream -->
					
					<!-- start: Follow Us -->
					<div class="span3">
						
						<h3>Follow Us</h3>
						
						<div id="social-r" class="tooltips">
							<a href="#" rel="tooltip" title="Amazon" class="amazon">Amazon</a>
							<a href="#" rel="tooltip" title="Behance" class="behance">Behance</a>
							<a href="#" rel="tooltip" title="Blogger" class="blogger">Blogger</a>
							<a href="#" rel="tooltip" title="DeviantART" class="deviantart">DeviantART</a>
							<a href="#" rel="tooltip" title="Dribbble" class="dribbble">Dribbble</a>
							<a href="#" rel="tooltip" title="Dropbox" class="dropbox">Dropbox</a>
							<a href="#" rel="tooltip" title="Evernote" class="evernote">Evernote</a>
							<a href="#" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
							<a href="#" rel="tooltip" title="Forrst" class="forrst">Forrst</a>
							<a href="#" rel="tooltip" title="Github" class="github">Github</a>
							<a href="#" rel="tooltip" title="Google Plus" class="googleplus">Google Plus</a>
							<a href="#" rel="tooltip" title="Joli Cloud" class="jolicloud">Joli Cloud</a>
							<a href="#" rel="tooltip" title="Last FM" class="last-fm">Last FM</a>
							<a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
							<a href="#" rel="tooltip" title="Picasa" class="picasa">Picasa</a>
							<a href="#" rel="tooltip" title="Pintrest" class="pintrest">Pintrest</a>
							<a href="#" rel="tooltip" title="RSS" class="rss">RSS</a>
							<a href="#" rel="tooltip" title="Skype" class="skype">Skype</a>
							<a href="#" rel="tooltip" title="Spotify" class="spotify">Spotify</a>
							<a href="#" rel="tooltip" title="StumpleUpon" class="stumbleupon">StumbleUpon</a>
							<a href="#" rel="tooltip" title="Tumblr" class="tumblr">Tumblr</a>
							<a href="#" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
							<a href="#" rel="tooltip" title="Vimeo" class="vimeo">Vimeo</a>
							<a href="#" rel="tooltip" title="WordPress" class="wordpress">WordPress</a>
							<a href="#" rel="tooltip" title="Xing" class="xing">Xing</a>
							<a href="#" rel="tooltip" title="Yahoo" class="yahoo">Yahoo</a>
							<a href="#" rel="tooltip" title="YouTube" class="youtube">YouTube</a>
							<a href="#" rel="tooltip" title="Soundcloud" class="soundcloud">Soundcloud</a>
							<a href="#" rel="tooltip" title="myspace" class="myspace">myspace</a>
							<a href="#" rel="tooltip" title="vkontakte" class="vkontakte">vkontakte</a>
						</div>
					
					</div>
					<!-- end: Follow Us -->
					
				</div>
				<!-- end: Row -->	
				
			</div>
			<!-- end: Container  -->
	
		</div>
		<!-- end: Footer -->
	
	