@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://onlinesoaptest/bundles/Onlinesoaptest/css/fonts/droid.woff) format('woff');
}