{% extends 'OnlinesoaptestBundle::layout.html.twig' %}

{% block content %} 
			
			<style type="text/css">
			
				img.thumbnail {
					width:110px;
					height:110px;
					padding:0;
				}
				
				.flickr-widget a {
					width:auto;
					height:auto;
				}
				
			</style>
					<!-- start: Photo Stream -->
					<div>
						
						<h3>Photo Stream</h3>

						<div class="flickr-widget">
						
							
							<div class="flickr_badge_image">
								<a href="/photos/structure">
									<img class="thumbnail" title="A photo of soap structure" alt="A photo" src="/bundles/onlinesoaptest/images/soap/structure.gif">
								</a>
							</div>
							
							<div class="flickr_badge_image">
								<a href="/photos/flow">
									<img class="thumbnail" title="A photo of soap flow" alt="A photo" src="/bundles/onlinesoaptest/images/soap/flow.gif">
								</a>
							</div>
							<!--
							<div class="flickr_badge_image">
								<a href="/photos/supersoap">
									<img class="thumbnail" title="Supersoap" alt="A photo" src="/bundles/onlinesoaptest/images/soap/supersoap.jpg">
								</a>
							</div>
							
							<div class="flickr_badge_image">
								<a href="/photos/layers">
									<img class="thumbnail" title="Layers" alt="A photo of soap layers" src="/bundles/onlinesoaptest/images/soap/layers.gif">
								</a>			
							</div>
							-->
							
							<div class="clear"></div>
							

						</div>
						
					</div>
					<!-- end: Photo Stream -->
					
					
{% endblock content %}